@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>


<!-- menu -->
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <div class="page-section">
                    <h1 class="page-title">Menu główne</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- starter -->
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb40">
                <div class="menu-block">
                    <h3 class="menu-title">Starter</h3>

                    <div class="menu-content">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <div class="dish-img"><a href="#"><img src="http://via.placeholder.com/70x70" alt="" class="img-circle"></a></div>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                <div class="dish-content">
                                    <h5 class="dish-title"><a>Smalec z pasieki u Staszka</a></h5>
                                    <span class="dish-meta">Smalec  /  Pajda chleba</span>
                                    <div class="dish-price">
                                        <p>PLN 10</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- /.starter -->
            <!-- Soup -->
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb40">
                <div class="menu-block">
                    <h3 class="menu-title">Zupy</h3>

                    <div class="menu-content">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <div class="dish-img"><a href="#"><img src="http://via.placeholder.com/70x70" alt="" class="img-circle"></a></div>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                <div class="dish-content">
                                    <h5 class="dish-title"><a>Cygański gulasz</a></h5>
                                    <span class="dish-meta"> gwoździe  / gruz / cjanek</span>
                                    <div class="dish-price">
                                        <p>PLN 15</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- /.soup -->
            <!-- main course -->
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb40">
                <div class="menu-block">
                    <h3 class="menu-title">Dania główne</h3>

                    <div class="menu-content">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <div class="dish-img"><a href="#"><img src="http://via.placeholder.com/70x70" alt="" class="img-circle"></a></div>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                <div class="dish-content">
                                    <h5 class="dish-title"><a>Vege paw</a></h5>
                                    <span class="dish-meta"> Cebula  /  Wincyj Cebuli</span>
                                    <div class="dish-price">
                                        <p>PLN 14</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- /.main Course -->
        </div>
    </div>
</div>
<!-- /.menu -->


<!-- menu -->
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <div class="page-section">
                    <h1 class="page-title">Desery i napoje</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- starter -->
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb40">
                <div class="menu-block">
                    <h3 class="menu-title">Desery</h3>

                    <div class="menu-content">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <div class="dish-img"><a href="#"><img src="http://via.placeholder.com/70x70" alt="" class="img-circle"></a></div>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                <div class="dish-content">
                                    <h5 class="dish-title"><a>Ciasto z grzybem</a></h5>
                                    <span class="dish-meta">ciasto  /  grzyb</span>
                                    <div class="dish-price">
                                        <p>PLN 10</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>
            <!-- /.starter -->
            <!-- Soup -->
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb40">
                <div class="menu-block">
                    <h3 class="menu-title">Kawy</h3>
                   
                    <div class="menu-content">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <div class="dish-img"><a href="#"><img src="http://via.placeholder.com/70x70" alt="" class="img-circle"></a></div>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                <div class="dish-content">
                                    <h5 class="dish-title"><a>Caffe Latte</a></h5>
                                    <span class="dish-meta"> kawa  / mleko / aspartan</span>
                                    <div class="dish-price">
                                        <p>PLN 15</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                  
                </div>
            </div>
            <!-- /.soup -->
            <!-- main course -->
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb40">
                <div class="menu-block">
                    <h3 class="menu-title">Herbaty</h3>
                   
                    <div class="menu-content">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <div class="dish-img"><a href="#"><img src="http://via.placeholder.com/70x70" alt="" class="img-circle"></a></div>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                <div class="dish-content">
                                    <h5 class="dish-title"><a>Saga Premium</a></h5>
                                    <span class="dish-meta"> Cebula  /  aspartan / Saszetka sagi</span>
                                    <div class="dish-price">
                                        <p>PLN 110</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>
