@model MVC_kawiarnia.Models.MainPageModel

@{
    ViewBag.Title = "AdminPanel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="jumbotron">
        <h1>
            @foreach (var item in Model.ListJumbtronText.Take(1))
        {
            @item.JumbotronIdText1
    }

        </h1>
        <p class="lead">
            @foreach (var item in Model.ListJumbtronText.Take(1))
        {
            @item.JumbotronIdText2

    }
            <input type="button" class="btn btn-primary btn-lg" value="Edytuj główny jumbotron &raquo;" onclick="location.href='@Url.Action("Index", "JumbotronTexts")'" />
    </div>

<div class="row centered">

    <div class="col-sm-4 col-md-4">
        <h2>System opinii</h2>
        <img src="~/Content/Image/Icon/icons8-good-quality-100.png" class="img-rounded" alt="Cinque Terre" width="100" height="100">
        <p>Dodawanie, usuwanie, edycja opinii z strony głównej.</p>
        <input type="button" class="btn btn-default" value="Wejdź &raquo;" onclick="location.href='@Url.Action("Index", "Reviews")'" />
    </div>
    <div class="col-sm-4 col-md-4">
        <h2>Newsletter</h2>
        <img src="~/Content/Image/Icon/icons8-news-100.png" class="img-rounded" alt="Cinque Terre" width="100" height="100">
        <p>Ustawienie wiadmości powitalnej po zapisaniu się.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Wejdź  &raquo;</a></p>

    </div>
    <div class="col-sm-4 col-md-4">
        <h2>Konto e-mail</h2>
        <img src="~/Content/Image/Icon/icons8-urgent-message-100.png" class="img-rounded" alt="Cinque Terre" width="100" height="100">
        <p>Konfiguracja konta e-mail wysyłającego wiadomości.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Wejdź  &raquo;</a></p>
    </div>
</div>
