
@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- menu -->
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <div class="page-section">
                    <h1 class="page-title">Menu główne</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- starter -->
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb40">
                <div class="menu-block">
                    <h3 class="menu-title">Przystawki</h3>

                    <div class="menu-content">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <div class="dish-img"><a href="#"><img src="~/Content/Image/tatar.png" alt="" class="img-circle"></a></div>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                <div class="dish-content">
                                    <h5 class="dish-title"><a>Befsztyk tatarski</a></h5>
                                    <span class="dish-meta">Befszytyk 100 g / marynaty</span>
                                    <div class="dish-price">
                                        <p>PLN 15</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- /.starter -->
            <!-- Soup -->
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb40">
                <div class="menu-block">
                    <h3 class="menu-title">Zupy</h3>

                    <div class="menu-content">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <div class="dish-img"><a href="#"><img src="~/Content/Image/appetizer-asian-food-bowl-772518.jpg" alt="" class="img-circle"></a></div>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                <div class="dish-content">
                                    <h5 class="dish-title"><a>Rosół z makaronem</a></h5>
                                    <span class="dish-meta">Rosół 400 ML / Makaron</span>
                                    <div class="dish-price">
                                        <p>PLN 5</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- /.soup -->
            <!-- main course -->
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb40">
                <div class="menu-block">
                    <h3 class="menu-title">Zestawy obiadowe</h3>

                    <div class="menu-content">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <div class="dish-img"><a href="#"><img src="~/Content/Image/schnitzel-645457_640.jpg" alt="" class="img-circle"></a></div>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                <div class="dish-content">
                                    <h5 class="dish-title"><a>Sznycel drobiowy z serem</a></h5>
                                    <span class="dish-meta"> Sznycel 100 g / ziemniaki / bukiet surówek</span>
                                    <div class="dish-price">
                                        <p>PLN 14</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- /.main Course -->
        </div>
    </div>
</div>
<!-- /.menu -->

<!-- menu -->
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <div class="page-section">
                    <h1 class="page-title">Desery i napoje</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- starter -->
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb40">
                <div class="menu-block">
                    <h3 class="menu-title">Desery</h3>

                    <div class="menu-content">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <div class="dish-img"><a href="#"><img src="~/Content/Image/cafe-cake-cream-9820.jpg" alt="" class="img-circle"></a></div>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                <div class="dish-content">
                                    <h5 class="dish-title"><a>Szarlotka na ciepło z lodami</a></h5>
                                    <span class="dish-meta">szarlotka, 1 gałka lodów, bita śmietania, polewa</span>
                                    <div class="dish-price">
                                        <p>PLN 10</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- /.starter -->
            <!-- Soup -->
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb40">
                <div class="menu-block">
                    <h3 class="menu-title">Kawy</h3>

                    <div class="menu-content">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <div class="dish-img"><a href="#"><img src="~/Content/Image/caffelatte123.png" alt="" class="img-circle"></a></div>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                <div class="dish-content">
                                    <h5 class="dish-title"><a>Caffe Latte</a></h5>
                                    <span class="dish-meta">Mleko / Kawa Ashima / Cukier</span>
                                    <div class="dish-price">
                                        <p>PLN 9,50</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- /.soup -->
            <!-- main course -->
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb40">
                <div class="menu-block">
                    <h3 class="menu-title">Herbaty</h3>

                    <div class="menu-content">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <div class="dish-img"><a href="#"><img src="~/Content/Image/blacktea123.png" alt="" class="img-circle"></a></div>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                <div class="dish-content">
                                    <h5 class="dish-title"><a>Czarna</a></h5>
                                    <span class="dish-meta"> Herbata Assam / Cukier</span>
                                    <div class="dish-price">
                                        <p>PLN 6,50</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>