
@{
    ViewBag.Title = "Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="projects">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title text-center">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" class="h2 align-center">
                        Polityka prywatności:
                    </a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">


                    <div class="container body-content">

                        <div class="jumbotron1">

                            <h3> 1. Wstęp - przebywając w serwisie zezwalasz na wykorzystywanie plików Cookies oraz innych, niżej wymienionych w kolejnych punktach. </h3>
                            <h3> 2. Informacje ogólne.</h3>
                            <blockquote>
                                <ul class="unstyled">
                                    <li>   <p>Operatorem Serwisu jest Michał Dwojak.</p></li>
                                    <li>   <p>Serwis realizuje funkcje pozyskiwania informacji o użytkownikach i ich zachowaniu w następujący sposób:</p></li>
                                    <ul class="unstyled">
                                        <li>   <p>Poprzez dobrowolnie wprowadzone w formularzach informacje.</p></li>
                                        <li>   <p>Poprzez zapisywanie w urządzeniach końcowych pliki cookie (tzw. "ciasteczka").</p></li>
                                        <li>   <p>Poprzez gromadzenie logów serwera www przez operatora hostingowego.</p></li>
                                    </ul>
                                </ul>
                            </blockquote>

                            <h3>3. Informacje w formularzach.</h3>
                            <blockquote>
                                <ul class="unstyled">
                                    <li>   <p>Serwis zbiera informacje podane dobrowolnie przez użytkownika.</p></li>
                                    <li>   <p>Serwis może zapisać ponadto informacje o parametrach połączenia (oznaczenie czasu, adres IP)</p></li>
                                    <li>   <p>Dane w formularzu nie są udostępniane podmiotom trzecim inaczej, niż za zgodą użytkownika.</p></li>
                                    <li>   <p>Dane podane w formularzu są przetwarzane w celu wynikającym z funkcji konkretnego formularza, np w celu dokonania procesu obsługi zgłoszenia serwisowego lub kontaktu handlowego.</p></li>
                                </ul>
                            </blockquote>

                            <h3>4. Informacja o plikach cookies.</h3>
                            <blockquote>
                                <ul class="unstyled">
                                    <li>   <p>Serwis korzysta z plików cookies.</p></li>
                                    <li>   <p>Pliki cookies (tzw. „ciasteczka”) stanowią dane informatyczne, w szczególności pliki tekstowe, które przechowywane są w urządzeniu końcowym Użytkownika Serwisu i przeznaczone są do korzystania ze stron internetowych Serwisu. Cookies zazwyczaj zawierają nazwę strony internetowej, z której pochodzą, czas przechowywania ich na urządzeniu końcowym oraz unikalny numer.</p></li>
                                    <li>   <p>Podmiotem zamieszczającym na urządzeniu końcowym Użytkownika Serwisu pliki cookies oraz uzyskującym do nich dostęp jest operator Serwisu.</p></li>
                                    <li>   <p>Pliki cookies wykorzystywane są w następujących celach:</p></li>
                                    <ul class="unstyled">
                                        <li>   <p>tworzenia statystyk, które pomagają zrozumieć, w jaki sposób Użytkownicy Serwisu korzystają ze stron internetowych, co umożliwia ulepszanie ich struktury i zawartości;</p></li>
                                        <li>   <p>utrzymanie sesji Użytkownika Serwisu (po zalogowaniu), dzięki której Użytkownik nie musi na każdej podstronie Serwisu ponownie wpisywać loginu i hasła;</p></li>
                                        <li>   <p>określania profilu użytkownika w celu wyświetlania mu dopasowanych materiałów w sieciach reklamowych, w szczególności sieci Google.</p></li>
                                    </ul>
                                    <li>   <p>W ramach Serwisu stosowane są dwa zasadnicze rodzaje plików cookies: „sesyjne” (session cookies) oraz „stałe” (persistent cookies). Cookies „sesyjne” są plikami tymczasowymi, które przechowywane są w urządzeniu końcowym Użytkownika do czasu wylogowania, opuszczenia strony internetowej lub wyłączenia oprogramowania (przeglądarki internetowej). „Stałe” pliki cookies przechowywane są w urządzeniu końcowym Użytkownika przez czas określony w parametrach plików cookies lub do czasu ich usunięcia przez Użytkownika.</p></li>
                                    <li>   <p>Oprogramowanie do przeglądania stron internetowych (przeglądarka internetowa) zazwyczaj domyślnie dopuszcza przechowywanie plików cookies w urządzeniu końcowym Użytkownika. Użytkownicy Serwisu mogą dokonać zmiany ustawień w tym zakresie. Przeglądarka internetowa umożliwia usunięcie plików cookies. Możliwe jest także automatyczne blokowanie plików cookies Szczegółowe informacje na ten temat zawiera pomoc lub dokumentacja przeglądarki internetowej.</p></li>
                                    <li>   <p>Ograniczenia stosowania plików cookies mogą wpłynąć na niektóre funkcjonalności dostępne na stronach internetowych Serwisu.</p></li>
                                </ul>
                            </blockquote>

                            <h3>5. Logi serwera.</h3>
                            <blockquote>
                                <ul class="unstyled">
                                    <li><p>Informacje o niektórych zachowaniach użytkowników podlegają logowaniu w warstwie serwerowej. Dane te są wykorzystywane wyłącznie w celu administrowania serwisem oraz w celu zapewnienia jak najbardziej sprawnej obsługi świadczonych usług hostingowych.</p></li>
                                    <li><p>Przeglądane zasoby identyfikowane są poprzez adresy URL. Ponadto zapisowi mogą podlegać:</p></li>
                                    <ul class="unstyled">
                                        <li><p>czas nadejścia zapytania,</p></li>
                                        <li><p>czas wysłania odpowiedzi,</p></li>
                                        <li><p>nazwę stacji klienta – identyfikacja realizowana przez protokół HTTP,</p></li>
                                        <li><p>informacje o błędach jakie nastąpiły przy realizacji transakcji HTTP,</p></li>
                                        <li><p>adres URL strony poprzednio odwiedzanej przez użytkownika (referer link) – w przypadku gdy przejście do Serwisu nastąpiło przez odnośnik,</p></li>
                                        <li><p>informacje o przeglądarce użytkownika,</p></li>
                                        <li><p>Informacje o adresie IP.</p></li>
                                    </ul>
                                    <li><p>Dane powyższe nie są kojarzone z konkretnymi osobami przeglądającymi strony.</p></li>
                                    <li><p>Dane powyższe są wykorzystywane jedynie dla celów administrowania serwerem.</p></li>
                                </ul>
                            </blockquote>

                            <h3>6. Udostępnienie danych.</h3>
                            <blockquote>
                                <ul class="unstyled">
                                    <li><p>Dane podlegają udostępnieniu podmiotom zewnętrznym wyłącznie w granicach prawnie dozwolonych.</p></li>
                                    <li><p>Dane umożliwiające identyfikację osoby fizycznej są udostępniane wyłączenie za zgodą tej osoby.</p></li>
                                    <li><p>Operator może mieć obowiązek udzielania informacji zebranych przez Serwis upoważnionym organom na podstawie zgodnych z prawem żądań w zakresie wynikającym z żądania.</p></li>
                                </ul>
                            </blockquote>

                            <h3>7. Zarządzanie plikami cookies – jak w praktyce wyrażać i cofać zgodę?</h3>
                            <blockquote>
                                <ul class="unstyled">
                                    <li><p>Jeśli użytkownik nie chce otrzymywać plików cookies, może zmienić ustawienia przeglądarki. Zastrzegamy, że wyłączenie obsługi plików cookies niezbędnych dla procesów uwierzytelniania, bezpieczeństwa, utrzymania preferencji użytkownika może utrudnić, a w skrajnych przypadkach może uniemożliwić korzystanie ze stron www</p></li>
                                    <li><p>W celu zarządzania ustawieniami cookies wybierz z listy poniżej przeglądarkę internetową/ system i postępuj zgodnie z instrukcjami:</p></li>
                                </ul>


                                    <button onclick="location.href='https://support.microsoft.com/en-us/kb/196955';" type="button" class="btn btn-default">Internet Explorer</button>
                                    <button onclick="location.href='https://support.google.com/chrome/answer/95647?hl=pl';" type="button" class="btn btn-default">Chrome</button>
                                    <button onclick="location.href='https://support.apple.com/kb/PH5042?locale=en_US';" type="button" class="btn btn-default">Safari</button>
                                    <button onclick="location.href='https://support.mozilla.org/pl/kb/Włączanie%20i%20wyłączanie%20obsługi%20ciasteczek';" type="button" class="btn btn-default">Firefox</button>
                                    <button onclick="location.href='http://help.opera.com/Windows/12.10/pl/cookies.html';" type="button" class="btn btn-default">Opera</button>
                                    <button onclick="location.href='https://support.google.com/chrome/answer/95647?hl=pl';" type="button" class="btn btn-default">Android</button>
                                    <button onclick="location.href='https://support.apple.com/pl-pl/HT201265';" type="button" class="btn btn-default">Safari (iOS)</button>
                                    <button onclick="location.href='https://support.microsoft.com/en-us/help/11696/windows-phone-7';" type="button" class="btn btn-default">Windows Phone</button>


                                
                            </blockquote>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>
</section>