@model MVC_kawiarnia.Controllers.HomeController.ImageFile
@{
    ViewBag.Title = "Uploadx";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #selectedFiles img {
        max-width: 200px;
        max-height: 200px;
        float: left;
        margin-bottom: 10px;
    }
</style>
<h2>Uploadx</h2>


@using (Html.BeginForm("Uploadx", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        <input type="file" id="files" name="files" onchange="loadFile(event)" multiple />
    </div>
    <div class="form-group">
        <input type="submit" name="upload" value="Upload" />
    </div>
    <div class="form-group">
        <div id="selectedFiles"></div>


    </div>
}

    
    <script>
    var selDiv = "";
    var storedFiles = [];
    
    $(document).ready(function() {
        $("#files").on("change", handleFileSelect);
        
        selDiv = $("#selectedFiles"); 
        $("#myForm").on("submit", handleForm);
        
    });
        
        function handleFileSelect(e) {

        var files = e.target.files;
        var filesArr = Array.prototype.slice.call(files);
        with (document.getElementById('selectedFiles')) while (hasChildNodes()) removeChild(firstChild)
        filesArr.forEach(function(f) {          
          
            if(!f.type.match("image.*")) {
                return;
            }
            storedFiles.push(f);
            
            var reader = new FileReader();
            reader.onload = function (e) {
                var html = "<div><img src=\"" + e.target.result + "\" data-file='"+f.name+"'title='Dodane zdjęcie'>" + f.name + "<br clear=\"left\"/></div>";
                selDiv.append(html);
                
            }
            reader.readAsDataURL(f); 
        });
        
    }
    </script>
    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>


