body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.MiddleSize {
    max-width: 700px;
}

.jumbotron {
    background: url('Image/pumpkin-on-the-jute-background-1475658606l4v.jpg') no-repeat center center;
    /*-webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;*/
    background-size: 100%;
    color: #ffffff
}

.jumbotron-event {
    background: url('Image/people-eiffel-tower-lights-night.jpg') no-repeat center center;
    /*-webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;*/
    background-size: 100%;
    color: #ffffff
}

.jumbotron-dinner {
    background: url('Image/pexels-photo-326278.jpeg') no-repeat center center;
    /*-webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;*/
    background-size: 100%;
    color: #ffffff
}

.jumbotron-drinks {
    background: url('Image/pexels-photo-302905.jpeg') no-repeat center center;
    /*-webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;*/
    background-size: 100%;
    color: #ffffff
}

.centered {
    text-align: center;
    font-size: 0;
}

    .centered > div {
        float: none;
        display: inline-block;
        text-align: center;
        font-size: 13px;
    }



.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
}
    .alert.success {
        background-color: #4CAF50;
    }

    .alert.info {
        background-color: #2196F3;
    }

    .alert.warning {
        background-color: #ff9800;
    }

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

    /* When moving the mouse over the close button */
    .closebtn:hover {
        color: black;
    }


.coupon {
    border: 5px dotted #bbb; /* Dotted border */
    width: 100%;
    /*border-radius: 15px;*/ /* Rounded border */
    margin: 0 auto; /* Center the coupon */
    max-width: 600px;
    padding-left: 0px;
    padding-right: 0px;
}

.container.coupons {
    padding: 2px 16px;
    background-color: #f1f1f1;
}

.promo {
    background: #ccc;
    padding: 3px;
}

.expire {
    color: red;
}

.row.coupons{
    margin-right: 0px;
    margin-left: 0px;
}

.centered.fixcoupon {
    padding-right: 0px;
    padding-left: 0px;
}







.modal {
    padding-top: 100px;
}
.card {
    box-shadow: 0 4px 8px 0 black;
    max-width: 300px;
    margin: auto;
    text-align: center;
    background-color: white;
    padding-top: 10px;
    font-size: 12px;
}

.title {
    color: grey;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}



    button:hover, a:hover {
        opacity: 0.7;
    }


.container_message {
    border: 2px solid #ccc;
    background-color: #eee;
    border-radius: 5px;
    padding: 16px 16px 5px 16px;
    margin: 16px 0;
}

    /* Clear floats after containers */
    .container_message::after {
        content: "";
        clear: both;
        display: table;
    }

    /* Float images inside the container to the left. Add a right margin, and style the image as a circle */
    .container_message img {
        float: left;
        margin-right: 20px;
        border-radius: 50%;
    }

    /* Increase the font-size of a span element */
    .container_message span {
        font-size: 20px;
        margin-right: 0px;
    }

/* Add media queries for responsiveness. This will center both the text and the image inside the container */
@media (max-width: 500px) {
    .container_message {
        text-align: center;
    }

        .container_message img {
            margin: auto;
            float: none;
            display: block;
        }
}

.alignleft {
    float: left;
}

.alignright {
    float: right;
    padding-left: 30px;
}

.alignleftnext{
    float:none;
}























.chip {
    display: inline-block;
    padding: 0 16px;
    height: 37px;
    font-size: 16px;
    line-height: 37px;
    border-radius: 25px;
    background-color: #f1f1f1;
    margin-top: 7px;
}

    .chip i {
        float: left;
        margin: 0 10px 0 -11px;
        height: 45px;
        width: 45px;
        border-radius: 50%;
        text-decoration: none;
        color: #000;
        cursor: auto;
        padding-top: 2px;
    }

    .chip img {
        float: left;
        margin: 0 10px 0 -19px;
        height: 37px;
        width: 37px;
        text-decoration: none;
        color: #000;
        cursor: auto;
    }










#newsletter-container {
    background: #eee;
    padding: 27px 0;
}

    #newsletter-container h3 {
        font-size: 25px;
        line-height: 46px;
        color: #444b4c;
        text-transform: none;
        margin: 0;
        float: left;
    }

h3 {
    font: 19px/38px Arial,sans-serif;
    /*margin: 50px 0 20px;*/
    /*color: #e3e3e3;*/
    text-transform: uppercase;
}

#newsletter-container form {
    float: right;
}

#newsletter-container input[type=email] {
    height: 46px;
    width: 300px;
    vertical-align: top;
    margin-right: 5px;
    border-radius: 4px;
    border: 3px solid #84bb26;
    background: #eee;
    line-height: 20px;
    padding: 5px 10px 5px 20px;
    color: #727b7c;
}

input, select, textarea {
    outline: 0;
}

#newsletter-container .btn {
    padding: 12px 20px;
    font-size: 17px;
    line-height: 20px;
}

.btn-custom-3 {
    color: #fff;
    background-color: #575a59;
    border-color: #5c5f5e;
    -webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,.4);
    box-shadow: inset 0 1px 1px rgba(255,255,255,.4);
}

    .btn-custom-3:hover {
        color: #fff;
        background-color: #84bb26;
        border-color: #94CF2E;
        -webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,.4);
        box-shadow: inset 0 1px 1px rgba(255,255,255,.4);
    }


::selection {
    background-color: #7bae23;
    color: #fff;
}























figure.snip0057 {
    font-family: 'Raleway', Arial, sans-serif;
    position: relative;
    float: left;
    overflow: hidden;
    margin-top: 30px;
    /*min-width: 380px;*/
    /*max-width: 480px;*/
    width: 100%;
    background: #ffffff;
    color: #000000;
}

    figure.snip0057 * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all 0.35s ease-in-out;
        transition: all 0.35s ease-in-out;
    }

    figure.snip0057 .image {
        width: 36%;
        overflow: hidden;
        z-index: 1;
        -webkit-transform: skewX(-15deg);
        transform: skewX(-15deg);
    }

        figure.snip0057 .image img {
            position: relative;
            display: block;
            /*left: -15%;*/
            z-index: 1;
            -webkit-transform: skew(15deg);
            transform: skew(15deg);
            max-height:300px;
        }

    figure.snip0057:before {
        position: absolute;
        content: '';
        height: 100%;
        width: 35%;
        background: rgba(0, 0, 0, 0.2);
        -webkit-transform: skewX(-15deg);
        transform: skewX(-15deg);
        -webkit-box-shadow: 15px 0px 25px rgba(0, 0, 0, 0.7);
        box-shadow: 15px 0px 25px rgba(0, 0, 0, 0.7);
    }

    figure.snip0057 figcaption {
        padding: 20px 30px 20px 20px;
        position: absolute;
        right: 0;
        bottom: 31px;
        width: 59%;
    }

        figure.snip0057 figcaption h2,
        figure.snip0057 figcaption p {
            margin: 0;
            text-align: right;
            padding: 10px 0;
            width: 100%;
        }

        figure.snip0057 figcaption h2 {
            font-size: 1.3em;
            font-weight: 300;
            text-transform: uppercase;
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        }

            figure.snip0057 figcaption h2 span {
                font-weight: 800;
            }

        figure.snip0057 figcaption p {
            font-size: 0.9em;
            opacity: 0.8;
        }

        figure.snip0057 figcaption .icons {
            width: 100%;
            text-align: right;
        }

            figure.snip0057 figcaption .icons i {
                font-size: 26px;
                padding: 5px;
                top: 50%;
                color: #000000;
                opacity: 0;
            }

        figure.snip0057 figcaption a {
            opacity: 0.3;
        }

            figure.snip0057 figcaption a:hover {
                opacity: 0.8;
            }

    figure.snip0057 .position {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: right;
        padding: 15px 30px;
        font-size: 0.9em;
        opacity: 1;
        font-style: italic;
        color: #ffffff;
        background: #000000;
        padding-bottom: 5px;
    }

    figure.snip0057.blue .position {
        background: #20638f;
    }

    figure.snip0057.red .position {
        background: #962d22;
    }

    figure.snip0057.yellow .position {
        background: #bf6516;
    }

    figure.snip0057:hover figcaption,
    figure.snip0057.hover figcaption {
        bottom: 40px;
    }

    figure.snip0057:hover .icons i,
    figure.snip0057.hover .icons i {
        opacity: 1;
        -webkit-transition-delay: 0.2s;
        transition-delay: 0.2s;
    }

    figure.snip0057:hover:before,
    figure.snip0057.hover:before {
        -webkit-animation: shadow 0.6s ease-in-out;
        animation: shadow 0.6s ease-in-out;
    }


.centered1 {
    text-align: left;
    margin-left: 0px;
    margin-right: 0px;
}

    .centered1 > div {
        text-align: left;
        margin-left: 0px;
        margin-right: 0px;
    }







.menu-block {
    margin-bottom: 30px;
}

.menu-title {
    border-bottom: 3px solid #e0e6e3;
    margin-bottom: 36px;
    padding-bottom: 10px;
}

.menu-content {
    border-bottom: 1px solid #e0e6e3;
    margin-bottom: 30px;
}

.dish-img .img-circle {
    width: 100px;
    height: 100px;
}

.dish-content {
    margin-top: 12px;
    margin-bottom: 20px;
    margin-left: 16px;
}

.dish-meta {
    font-size: 12px;
    text-transform: uppercase;
    display: block;
    width: 210px;
    line-height: 1.7;
}

.dish-title {
    margin-bottom: 6px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    position: relative;
}

.dish-price {
    text-align:right;
    right: 16px;
    top: 0px;
    font-size: 26px;
    color: #e03c23;
    font-weight: 500;
    font-family: 'Zilla Slab', serif;
}

.well-block .dish-meta {
    width: 100%;
}

.well-block .dish-price {
    font-size: 26px;
    color: #e03c23;
    font-weight: 500;
    font-family: 'Zilla Slab', serif;
    position: inherit;
}

.img_small img{
    height: 150px;
}




/*timeline*/


/* _wrapper.css */
.wrapper {
    padding-left: 18px;
    padding-right: 18px;
    max-width: 1236px;
    margin-left: auto;
    margin-right: auto;
}

/* _page-section.css */
.page-section {
    padding: 50px 0;
}

@media (min-width: 800px) {
    .page-section {
        padding: 100px 0;
    }
}

.page-section--gray {
    background-color: transparent;
}

/* _section-title.css */
.section-title {
    text-align: center;
    font-size: 32px;
    font-weight: 300;
    margin: 0 0 60px 0;
}

@media (min-width: 800px) {
    .section-title {
        font-size: 55px;
    }
}

.section-title--gray {
    color: #9D9DA6;
}

/* _sprite.css */
.icon {
    background-image: url('http://mehmetguler.xyz/codepen/responsive-timeline/sprite-fbf7a24a.svg');
    display: inline-block;
}

.no-svg .icon {
    background-image: url('http://mehmetguler.xyz/codepen/responsive-timeline/sprite-fbf7a24a.png');
}

.icon--content-logo {
    width: 74px;
    height: 69px;
    background-position: 0 0;
}

.icon--css3 {
    width: 24px;
    height: 27px;
    background-position: 92.5% 39.130434782608695%;
}

.icon--html5 {
    width: 25px;
    height: 27px;
    background-position: 0 100%;
}

.icon--javascript {
    width: 25px;
    height: 27px;
    background-position: 31.645569620253166% 100%;
}

.icon--sketch {
    width: 30px;
    height: 27px;
    background-position: 100% 0;
}

/* _timeline.css */
.timeline {
    position: relative;
    padding: 100px 0;
}

    .timeline::before {
        content: "";
        position: absolute;
        top: 0;
        left: 10%;
        width: 4px;
        height: 100%;
        background-color: #DFDFDF;
    }

@media (min-width: 800px) {
    .timeline::before {
        left: 50%;
        margin-left: -2px;
    }
}

.timeline__item {
    margin-bottom: 100px;
    position: relative;
}

    .timeline__item::after {
        content: "";
        clear: both;
        display: table;
    }

    .timeline__item:nth-child(2n) .timeline__item__content {
        float: right;
    }

@media (min-width: 800px) {
    .timeline__item:nth-child(2n) .timeline__item__content::before {
        left: -20px;
        border-right: 20px solid #fff;
        border-left: 0;
    }
}

.timeline__item:last-child {
    margin-bottom: 0;
}

.timeline__item__date {
    background-color: #DFDFDF;
    font-weight: 300;
    width: 140px;
    position: absolute;
    padding: 10px;
    top: -18px;
    left: 10%;
    margin-left: -33px;
    transition: all .3s ease-out;
    text-align: center;
    color: #adadad;
    border-radius: 6px;
    font-size: 14px;
    z-index: 1;
    padding-bottom: 8px;
}

@media (min-width: 800px) {
    .timeline__item__date {
        top: 30px;
        left: 50%;
        margin-left: -70px;
        padding-bottom: 8px;
    }
}

.timeline__item__date strong {
    font-weight: 700;
}

.timeline__item__content {
    width: 80%;
    background: #fff;
    border-radius: 6px;
    float: right;
    transition: all .3s ease-out;
    padding: 30px 30px 25px 30px;
    position: relative;
}

@media (min-width: 800px) {
    .timeline__item__content {
        width: 36%;
        float: inherit;
    }
}

@media (min-width: 1200px) {
    .timeline__item__content {
        width: 40%;
        float: inherit;
    }
}

@media (min-width: 800px) {
    .timeline__item__content::before {
        content: "";
        position: absolute;
        top: 30px;
        right: -20px;
        width: 0;
        height: 0;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 20px solid #fff;
    }
}

.timeline__item__content__title {
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
    font-size: 20px;
    color: #464545;
}

@media (min-width: 800px) {
    .timeline__item__content__title {
        font-size: 24px;
    }
}

.timeline__item__content__description {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: #A7A7A6;
    padding-left: 10px;
}

@media (min-width: 800px) {
    .timeline__item__content__description {
        font-size: 16px;
        line-height: 28px;
    }
}

.timeline__item__content__techs {
    margin-top: 15px;
    text-align: right;
}











.event-list {
    list-style: none;
    font-family: 'Lato', sans-serif;
    margin: 0px;
    padding: 0px;
}

    .event-list > li {
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 0px 5px rgb(51, 51, 51);
        box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
        padding: 0px;
        margin: 0px 0px 20px;
    }

        .event-list > li > time {
            display: inline-block;
            width: 100%;
            color: rgb(255, 255, 255);
            background-color: rgba(164, 218, 214, 1);
            padding: 5px;
            text-align: center;
            text-transform: uppercase;
        }
        .event-list > li > time1 {
            display: inline-block;
            width: 100%;
            color: rgb(255, 255, 255);
            background-color: rgba(70, 69, 69, 1);
            padding: 5px;
            text-align: center;
            text-transform: uppercase;
        }

        .event-list > li:nth-child(even) > time {
            background-color: rgb(165, 82, 167);
        }
        .event-list > li:nth-child(even) > time1 {
            background-color: rgba(130, 130, 130, 1);
        }

        .event-list > li > time > span {
            display: none;
        }
        .event-list > li > time1 > span {
            display: none;
        }
        .event-list > li > time > .day {
            display: block;
            font-size: 56pt;
            font-weight: 100;
            line-height: 1;
        }
        .event-list > li > time1 > .day {
            display: block;
            font-size: 56pt;
            font-weight: 100;
            line-height: 1;
        }
        .event-list > li time > .month {
            display: block;
            font-size: 11pt;
            font-weight: 900;
            line-height: 1;
        }
        .event-list > li time > .year {
            display: block;
            font-size: 18pt;
            font-weight: 900;
            line-height: 1;
        }
        .event-list > li time1 > .month {
            display: block;
            font-size: 11pt;
            font-weight: 900;
            line-height: 1;
        }
        .event-list > li time1 > .year {
            display: block;
            font-size: 18pt;
            font-weight: 900;
            line-height: 1;
        }
        .event-list > li > img {
            width: 100%;
        }

        .event-list > li > .info {
            padding-top: 5px;
            text-align: center;
        }

            .event-list > li > .info > .title {
                font-size: 17pt;
                font-weight: 700;
                margin: 0px;
            }

            .event-list > li > .info > .desc {
                font-size: 13pt;
                font-weight: 300;
                margin: 0px;
            }

            .event-list > li > .info > ul,
            .event-list > li > .social > ul {
                display: table;
                list-style: none;
                margin: 10px 0px 0px;
                padding: 0px;
                width: 100%;
                text-align: center;
            }

        .event-list > li > .social > ul {
            margin: 0px;
        }

            .event-list > li > .info > ul > li,
            .event-list > li > .social > ul > li {
                display: table-cell;
                cursor: pointer;
                color: rgb(30, 30, 30);
                font-size: 11pt;
                font-weight: 300;
                padding: 3px 0px;
            }

                .event-list > li > .info > ul > li > a {
                    display: block;
                    width: 100%;
                    color: rgb(30, 30, 30);
                    text-decoration: none;
                }

            .event-list > li > .social > ul > li {
                padding: 0px;
            }

                .event-list > li > .social > ul > li > a {
                    padding: 3px 0px;
                }

                .event-list > li > .info > ul > li:hover,
                .event-list > li > .social > ul > li:hover {
                    color: rgb(30, 30, 30);
                    background-color: rgb(200, 200, 200);
                }

.facebook a,
.twitter a,
.google-plus a {
    display: block;
    width: 100%;
    color: rgb(75, 110, 168) !important;
}

.twitter a {
    color: rgb(79, 213, 248) !important;
}

.google-plus a {
    color: rgb(221, 75, 57) !important;
}

.facebook:hover a {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(75, 110, 168) !important;
}

.twitter:hover a {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(79, 213, 248) !important;
}

.google-plus:hover a {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(221, 75, 57) !important;
}

@media (min-width: 768px) {
    .event-list > li {
        position: relative;
        display: block;
        width: 100%;
        height: 120px;
        padding: 0px;
    }

        .event-list > li > time,
        .event-list > li > img {
            display: inline-block;
        }
        .event-list > li > time1,
        .event-list > li > img {
            display: inline-block;
        }
        .event-list > li > time,
        .event-list > li > img {
            width: 120px;
            float: left;
        }
        .event-list > li > time1,
        .event-list > li > img {
            width: 120px;
            float: left;
        }
        .event-list > li > .info {
            background-color: rgb(245, 245, 245);
            overflow: hidden;
        }

        .event-list > li > time,
        .event-list > li > img {
            width: 120px;
            height: 120px;
            padding: 0px;
            margin: 0px;

        }
        .event-list > li > time1,
        .event-list > li > img{
            width: 120px;
            height: 120px;
            padding: 0px;
            margin: 0px;
           
        }
    .img-event-list {
        filter: grayscale(80%);
    }
    .event-list > li > .info {
        position: relative;
        height: 120px;
        text-align: left;
        padding-right: 40px;
    }

            .event-list > li > .info > .title,
            .event-list > li > .info > .desc {
                padding: 0px 10px;
            }

            .event-list > li > .info > ul {
                position: absolute;
                left: 0px;
                bottom: 0px;
            }

        .event-list > li > .social {
            position: absolute;
            top: 0px;
            right: 0px;
            display: block;
            width: 40px;
        }

            .event-list > li > .social > ul {
                border-left: 1px solid rgb(230, 230, 230);
            }

                .event-list > li > .social > ul > li {
                    display: block;
                    padding: 0px;
                }

                    .event-list > li > .social > ul > li > a {
                        display: block;
                        width: 40px;
                        padding: 10px 0px 9px;
                    }
}



#lightbox .modal-content {
    display: inline-block;
    text-align: center;
}

#lightbox .close {
    opacity: 1;
    color: rgb(255, 255, 255);
    background-color: rgb(25, 25, 25);
    padding: 5px 8px;
    border-radius: 30px;
    border: 2px solid rgb(255, 255, 255);
    position: absolute;
    /*top: -15px;
    right: -55px;*/
    top: -19px;
    right: -19px;
    z-index: 1032;
    width: 35px;
    height: 35px;
}
.modal-body{
    padding: 0px;
}
.modal-dialog{
    padding: 0px;
}

/*body.modal-open,
.modal-open .navbar-fixed-top,
.modal-open .navbar-fixed-bottom {
    margin-right: 0px;
}*/

